body{
    background-image: url("https://media.istockphoto.com/videos/soft-moving-cloud-for-weather-report-background-video-id510656547?s=640x640");
    background-repeat: no-repeat;
    background-size:cover;
}